{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ЛЯГУШКИИИ!{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="icon" href="{% static 'img/icon.png' %}">
</head>
<body>

<header>
    <div class="header-left">
        <a href="{% url 'home' %}">
            <div class="logo">
                <img src="{% static 'img/icon.png' %}" width="50px" alt="icon">
            </div>
        </a>
    </div>

    <div class="header-right">
        <a href="/" class="header__link">Кодекс лягушек</a>
        <p style="margin: 0 20px">|</p>
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">
                {% if user.profile.avatar %}
                    <img src="{{ user.profile.avatar.url }}" alt="{{ user.username }}" class="avatar">
                {% else %}
                    <img src="{% static 'img/default-avatar.webp' %}" alt="{{ user.username }}" width="32px"
                         class="avatar">
                {% endif %}
            </a>
            <a href="{% url 'profile' %}" class="username">{{ user.username }}</a>
            <form action="{% url 'logout' %}" method="post" style="margin:0;">
                {% csrf_token %}
                <button type="submit" class="black-button">Выйти</button>
            </form>
        {% else %}
            <button class="white-button" style="margin-left: 1.5rem;" onclick="window.location.replace('/login/')">Войти
            </button>
            <button class="black-button" onclick="window.location.replace('/signup/')">Зарегистрироваться</button>
        {% endif %}
    </div>
</header>

{% block content %}{% endblock %}

<footer>
    <div class="footer-left">
        <img src="figma-icon.png" alt="Figma">
        <img src="x-icon.png" alt="X (Twitter)">
        <img src="instagram-icon.png" alt="Instagram">
        <img src="youtube-icon.png" alt="YouTube">
        <img src="linkedin-icon.png" alt="LinkedIn">
    </div>

    <div class="footer-links">
        <div class="footer-column">
            <h4>Use cases</h4>
            <ul>
                <li><a href="#">UI design</a></li>
                <li><a href="#">UX design</a></li>
                <li><a href="#">Wireframing</a></li>
                <li><a href="#">Diagramming</a></li>
                <li><a href="#">Brainstorming</a></li>
                <li><a href="#">Online whiteboard</a></li>
                <li><a href="#">Team collaboration</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4>Explore</h4>
            <ul>
                <li><a href="#">Design</a></li>
                <li><a href="#">Prototyping</a></li>
                <li><a href="#">Development features</a></li>
                <li><a href="#">Design systems</a></li>
                <li><a href="#">Collaboration features</a></li>
                <li><a href="#">Design process</a></li>
                <li><a href="#">FigJam</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4>Resources</h4>
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Best practices</a></li>
                <li><a href="#">Colors</a></li>
                <li><a href="#">Color wheel</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Developers</a></li>
                <li><a href="#">Resource library</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>
