{% extends 'base.html' %}
{% block title %}Подарить лягушку{% endblock %}

{% block content %}
    <div class="container">
        <div class="card-header">
            Подарить лягушку
        </div>
        <div class="card">
            <form method="post">
                {% csrf_token %}
                <p>
                    {{ form.recipient_username.label_tag }}
                    {{ form.recipient_username }}
                    {{ form.recipient_username.errors }}
                </p>
                <p>
                    {{ form.frog.label_tag }}
                    {{ form.frog }}
                    {{ form.frog.errors }}
                </p>
                <p>
                    {{ form.message.label_tag }}
                    {{ form.message }}
                    {{ form.message.errors }}
                </p>
                <p>
                    {{ form.confirm }}
                    {{ form.confirm.label_tag }}
                    {{ form.confirm.errors }}
                </p>
                <p>
                    <button class="black-button" type="submit" style="width: 100%;">Подарить</button>
                </p>

            </form>
        </div>
    </div>
{% endblock %}
